{{! template-lint-disable require-input-label}}
<div class="resizable-smart-textarea" ...attributes>
    <span class="highlight-layer" data-test-highlightLayer {{did-insert this.highlightLayerInserted}}>{{html-safe this.formattedValue}}</span>
    <Textarea
        data-test-textareaField
        @value={{@value}}
        {{on "keyup" this.onChange}}
        {{did-insert this.textFieldInserted}}
        {{did-update this.textFieldInserted @value}}
    />
</div>